<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>home</title>
        <link href="stylesheets/style.css" rel="stylesheet">
        <link href="stylesheets/w3.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Mina:700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    </head>
    
    <body>
        
        <!-- heder -->
        
        <div id="heading">
            <div id="logo">
                <a href="#"><h1>MarketPlace</h1></a>
            </div>
            
            <div id="nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="/allads">All Ads</a></li>
                    <li><a href="/user/login">Login</a></li>
                    <li><a href="/signup">SignUp</a></li>
                    <li><a href="/sellProduct">Sell Your Product</a></li>
                </ul>
            </div>
        </div>
        
        
        <!-- main content -->
        
        <div id="main-content">
            <div id="content">
            <div id="main">
                <h2>All Products</h2>
                <!-- !PAGE CONTENT! -->
                <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:10px">

                  <!-- First Photo Grid-->
                  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
                    <div class="w3-quarter">
                        <a href="#"><img src="/images/honey.jpg" style="width:100%"></a>
                      <h3>The Perfect Sandwich, A Real NYC Classic</h3>
                      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                    <div class="w3-quarter">
                        <a href="#"><img src="/images/182.jpg" style="width:100%"></a>
                      <h3>Let Me Tell You About This Steak</h3>
                      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                    <div class="w3-quarter">
                        <a href="pages/demo.html"><img src='images/af6a07c3-92c6-4b25-9599-ac52484c88e6_large.jpg' style="width:100%"></a>
                      <h3>Cherries, interrupted</h3>
                      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                      <p>What else?</p>
                    </div>
                    <div class="w3-quarter">
                        <a href="pages/demo.html"><img src="images/bag2.jpg" style="width:100%"></a>
                      <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
                      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                  </div>

                  <!-- Second Photo Grid-->
                  <div class="w3-row-padding w3-padding-16 w3-center">
                    <div class="w3-quarter">
                        <a href="pages/demo.html"><img src="images/bags.jpg" style="width:100%"></a>
                      <h3>All I Need Is a Popsicle</h3>
                      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                    <div class="w3-quarter">
                        <a href="pages/demo.html"><img src="images/colortob.jpg" style="width:100%"></a>
                      <h3>Salmon For Your Skin</h3>
                      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                    <div class="w3-quarter">
                        <a href="pages/demo.html"><img src="images/doi.jpg" style="width:100%"></a>
                      <h3>The Perfect Sandwich, A Real Classic</h3>
                      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                    <div class="w3-quarter">
                        <a href="pages/demo.html"><img src="images/handmade%20bags.jpg" style="width:100%"></a>
                      <h3>Le French</h3>
                      <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                  </div>
                    <!--third photo grid -->
                    <div class="w3-row-padding w3-padding-16 w3-center">
                    <div class="w3-quarter">
                      <img src="images/sandtob.jpg" alt="Popsicle" style="width:100%">
                      <h3>All I Need Is a Popsicle</h3>
                      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                    <div class="w3-quarter">
                      <img src="images/oil.JPG" alt="Salmon" style="width:100%">
                      <h3>Salmon For Your Skin</h3>
                      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                    <div class="w3-quarter">
                      <img src="images/mango.jpg" alt="Sandwich" style="width:100%">
                      <h3>The Perfect Sandwich, A Real Classic</h3>
                      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                    <div class="w3-quarter">
                      <img src="images/handmade2.jpg" alt="Croissant" style="width:100%">
                      <h3>Le French</h3>
                      <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                  </div>

                  <!-- Pagination -->
                  <div class="w3-center w3-padding-32">
                    <div class="w3-bar">
                      <a href="#" class="w3-bar-item w3-orange w3-button">1</a>
                      <a href="pages/home/2.html" class="w3-bar-item w3-button w3-hover-black">2</a>
                      <a href="pages/home/3.html" class="w3-bar-item w3-button w3-hover-black">3</a>
                      <a href="pages/home/2.html" class="w3-bar-item w3-button w3-hover-black">»</a>
                    </div>
                  </div>
                </div>
            </div>
            
                <div id="sidebar">
                    <h2>Search Product</h2>
                    <div class="dise">
                      <h4>By Division</h4>
                      <ul class="w3-ul w3-card">
                        <li><a href="pages/divission/dhaka.html">Dhaka</a></li>
                        <li><a href="pages/divission/Chattagram.html">Chattgram</a></li>
                        <li><a href="pages/divission/Syllhet.html">Syllhet</a></li>
                        <li><a href="pages/divission/Khulna.html">Khulna</a></li>
                        <li><a href="pages/divission/Barisal.html">Barisal</a></li>
                        <li><a href="pages/divission/Rajshahi.html">Rajsahi</a></li>
                        <li><a href="pages/divission/Rangpur.html">Rangpur</a></li>
                        <li><a href="pages/divission/Mynemsingh.html">Mymensingh</a></li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>